{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{% static 'trueskills/img/favicon.jpeg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'trueskills/css/style.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
  <div class="header">
  {% block mainmenu %}
      <ul id="mainmenu" class="mainmenu">
        <li class="logo"><a href="{% url 'index' %}"><div class="logo"></div></a></li>
        {% for m in menu %}
          <li><a href="{% url m.url_name%}">{{m.title}}</a></li>
        {% endfor %}
      </ul>
  {% endblock mainmenu %}
  </div>
  </header>
  {% block content %}

  {% endblock content %}
  <footer>
      <div class="footer__container">
           <h3>Связаться с нами:</h3>
          <div class="footer__container">
              <div class="footer__group">
                  <div class="footer__links">
                    Home * (http://xxxxxx-m1.wsr.ru)
                    Login * (http://xxxxxx-m1.wsr.ru/login)
                    Sign up * (http://xxxxxx-m1.wsr.ru/signup)
                    Contact * (http://xxxxxx-m1.wsr.ru/contact)
                    News * (http://xxxxxx-m1.wsr.ru/news)
                    Return * (http://xxxxxx-m1.wsr.ru/return)
                    Feedback * (http://xxxxxx-m1.wsr.ru/feedback)
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <script src="{% static 'trueskills/js/script.js' %}"></script>
</body>
</html>