{% extends 'trueskills/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
        <p>Страница бронирования</p>
        <li>Данные о заказе</li>
            <ul>Регион</ul>
            <ul>Адрес локации</ul>
            <ul>Дата мероприятия</ul>
            <ul>Количество человек</ul>
            <ul>Стоимость</ul>
        <li>Выбор дополнительных услуг:</li>
            <ul>Организация питания</ul>
            <ul>Услуги аниматоров</ul>
            <ul>Услуги ведущего</ul>
            <ul>Услуги детского такси</ul>
{% endblock content %}