{% extends 'trueskills/base.html' %}
{% load static %}

{% block content %}
<section class="about">
  <div class="about__info">
    <h1>«Праздник в каждый дом»</h1>
    <p>Подарим волшебство для Ваших детей!</p>
    <p>Предоставляем услуги организации детских праздников на нашей территории в очень интересных локациях.</p>
    <p>Главная цель компании – сделать праздник незабываемым для детей и их родителей.</p>
    <p>Клиенты компании «Праздник в каждый дом» имеют возможность забронировать одну из предоставленных локаций для органицации детского праздника. Помимо предоставления аренды помещения, компания предоставляет широкий спектр услуг, таких как: питание, услуги аниматоров, услуги ведущего, детского такси и т.д.</p>
    <button>Узнать подробнее</button>
  </div>
  <div class="about__images">
    <img class="about__image" src="{% static 'trueskills/img/people.jpg' %}">
  </div>
</section>
<section class="form">
  <div class="form__container">

  </div>
</section>
{% endblock content %}