{% extends 'trueskills/base.html' %}
{% load static %}

{% block content %}
<section class="booking">
  <div class="booking__info">
    <ul>Чтобы воспользоваться услугами компании необходимо:</ul>
    <li>Выбрать даты праздника;</li>
    <li>Выбрать количество участников;</li>
    <li>Выбрать желаемую локацию для праздника, соответствующую условиям выше;</li>
    <li>Зарезервировать конкретную зону на территории выбранной локации;</li>
    <li>Определить перечень дополнительных услуг;</li>
    <li>Оформить заказ.</li>
  </div>
  <div class="about__images">
    <img class="about__sun-image" src="{% static 'trueskills/img/sun.png' %}">
  </div>
</section>
<section class="about">
  <div class="about__info">
    <h1>«Праздник в каждый дом»</h1>
    <p>Подарим волшебство для Ваших детей!</p>
    <p>Предоставляем услуги организации детских праздников на нашей территории в очень интересных локациях.</p>
    <p>Главная цель компании – сделать праздник незабываемым для детей и их родителей.</p>
    <p>Клиенты компании «Праздник в каждый дом» имеют возможность забронировать одну из предоставленных локаций для органицации детского праздника.</p>
    <p>Помимо предоставления аренды помещения, компания предоставляет широкий спектр услуг, таких как: питание, услуги аниматоров, услуги ведущего, детского такси и т.д.</p>
    <p>Чудесного путешествия по Стране Волшебников! Надеемся на скорую встречу с вами!</p>
  </div>
  <div class="about__images">
    <img class="about__image" src="{% static 'trueskills/img/people.jpg' %}">
  </div>
</section>
<section class="form">
  <div class="form__container">
    <h1> Оставьте свои контакты.</h1>
    <p>Поможем организовать мероприятие.</p>
    <fotm>
       <div class="form__group">
         <label for="name">Выбор региона</label>
         <input type="text" placeholder="Выберите регион" id="name">
       </div>
       <div class="form__group">
         <label for="name">Дата мероприятия</label>
         <input type="text" placeholder="Выберите дату" id="date">
       </div>
       <div class="form__group">
         <label for="phone">Количество взрослых и детей</label>
         <input type="tel" placeholder="(не более 50 детей и взрослых)" id="phone">
       </div>
       <button><a href="{% url 'location' %}">Поиск</a></button>
    </fotm>
  </div>
</section>
<section class="about">
  <div class="about__info">
    <h1>Скидка до 60%. За заказ зоны (от 25 человек) в локации «Черная жемчужина»:</h1>
    <p>Устали от городского шума, хотите провести праздник за городом в живописной локации?</p>
    <p>Заказывайте место в локации «Черная жемчужина». Здесь вас и ваших детей ждет настоящая пиратская шхуна с настоящими пиратами!</p>
    <ul>Заказ от 25 до 30 человек:</ul>
    <li>Скидка 40% на аренду при заказе в будний день</li>
    <ul>Заказ от 31 до 50 человек:</ul>
    <li>Скидка 55% на аренду при заказе в будний день</li>
    <p>*Купон действует в будние дни при наличии свободных мест</p>
    <p> </p>
    <div class="about__images">
      <img class="about__image" src="{% static 'trueskills/img/promotion1.jpg' %}">
    </div>
    <button><a href="{% url 'location' %}">Подробнее</a></button>
    <p>__________________________________________________________________________________________________________</p>
  </div>
</section>
<section class="about">
  <div class="about__info">
    <h1>Скидка до 51% при заказе услуг аниматоров. Уютное место для организации праздников «Поляна сказок»</h1>
    <p>Локация «Поляна сказок» расположена в живописной загородной местности на берегу чистого озера. Есть места для организации праздника как на открытом воздухе, так и под навесом.</p>
    <ul>Купон действует на следующие виды услуг:</ul>
    <li>Скидка 51% для аренды зоны в локации «Поляна сказок» при условии заказа услуг аниматоров</li>
    <p>Преимущества заказа именно этой локации:</p>
    <li>безопасность (территория локации является частной и охраняется);</li>
    <li>мало людей (площадь — 200 кв. м);</li>
    <li>защита от насекомых (территория кемпинга обработана от клещей);</li>
    <li>обустроенный тематический лагерь, в котором и взрослые найдут много возможностей для развлечений.</li>
    <p>*Обязательна предварительная запись по телефону.</p>
    <div class="about__images">
      <img class="about__image" src="{% static 'trueskills/img/promotion2.jpg' %}">
    </div>
    <button><a href="{% url 'location' %}">Подробнее</a></button>
    <p>&nbsp;</p>
    &nbsp;
    &nbsp;
    <p>__________________________________________________________________________________________________________</p>
  </div>
</section>
<section class="about">
  <div class="about__info">
    <h1>Скидка до 25%. Закажи праздник "Под ключ"</h1>
    <p>При выборе локации для 15 человек и больше, а также при заказе всех дополнительных услуг можно очень неплохо сэкономить!</p>
    <ul>Купон действует на следующие виды услуг:</ul>
    <li>Скидка 25% для органицации комплексного праздника для группы от 25 человек.</li>
    <li>Скидка 10% для органицации комплексного праздника для группы от 15 человек.</li>
    <p>*Обязательна предварительная запись по телефону.</p>
    <div class="about__images">
      <img class="about__image" src="{% static 'trueskills/img/promotion3.jpg' %}">
    </div>
    <button><a href="{% url 'location' %}">Подробнее</a></button>
    <p>__________________________________________________________________________________________________________</p>
  </div>
</section>
<section class="form">
  <div class="form__container">
    <h1> Оставьте свои контакты.</h1>
    <p>Подпишитесь на закрытые акции</p>
    <fotm>
       <div class="form__group">
         <label for="name">Электронный адрес</label>
         <input type="text" placeholder="***@yandex.ru" id="email">
       </div>
       <button><a href="{% url 'location' %}">Подписаться</a></button>
    </fotm>
  </div>
</section>
{% endblock content %}