@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Black.ttf");
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3F4137;
	height: 60px;
}


.logo {
	background: url('../img/favicon.ico') no-repeat 10px 5px;
	width: 70px;
	height: 60px;
}

ul.mainmenu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 60px;
	width: 2000px;
	color: #fdc073;
	font-size: 20px;
	overflow: hidden;
}
ul.mainmenu li {
	float: left;
	margin: 18px 40px 0 30px;
}
ul.mainmenu li.logo {margin: 0;}
ul.mainmenu li.last {float: right;}

ul.mainmenu li a {
	color: #fdc073;
	text-decoration: none;
}
ul.mainmenu li a:hover {
	color: #FDA83D;
}

.booking {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 35px;
  padding-top: 35px;
  background: url('../img/back.png') no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.about__sun-image {
  width: 100px;
  height: 100px;
}

.booking ul {
  font-size: 35px;
  line-height: 36px;
}

.booking li {
  font-size: 18px;
  line-height: 30px;
  opacity: 0.8;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 35px;
  padding-top: 35px;
  background: url('../img/back1.png') no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.about__image {
  width: 500px;
}

.about h1 {
  font-size: 35px;
  line-height: 36px;
}

.about p {
  font-size: 18px;
  line-height: 30px;
  opacity: 0.8;
}

.form__container {
  width: 550px;
}

.form {
    background-color: #1D263A;
    color: #fff;
    padding-top: 115px;
    padding-bottom: 115px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.form h1{
    font-size: 48px;
}

.form p{
     font-size: 18px;
     opacity: 0.65;
}

.form__group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

button {
  font-family: 'Raleway', sans—serif;
  font-size: 15px;
  color: #fff;
  background-color: #23a030;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
  padding: 15px;
}
