@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Black.ttf");
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3F4137;
	height: 60px;
}

.logo {
	background: url('../img/favicon.ico') no-repeat 10px 5px;
	width: 70px;
	height: 60px;
}

ul.mainmenu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 60px;
	width: 2000px;
	color: #fdc073;
	font-size: 20px;
	overflow: hidden;
}
ul.mainmenu li {
	float: left;
	margin: 18px 40px 0 30px;
}
ul.mainmenu li.logo {margin: 0;}
ul.mainmenu li.last {float: right;}

ul.mainmenu li a {
	color: #fdc073;
	text-decoration: none;
}
ul.mainmenu li a:hover {
	color: #FDA83D;
}

.booking {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 115px;
  padding-top: 115px;
  background: url('../img/back.png') no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}